@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  --text-headline-1: 2.5rem;
  --text-headline-2: 2rem;
  --text-headline-3: 1.5rem;
  --text-headline-4: 1.25rem;
  --text-headline-5: 1rem;
  --text-headline-6: 0.875rem;
  --text-body-1: 1rem;
  --text-body-2: 0.875rem;
  --text-body-3: 0.75rem;
  --text-body-4: 0.625rem;

  --text-headline-1--font-weight: 700;
  --text-headline-2--font-weight: 700;
  --text-headline-3--font-weight: 700;
  --text-headline-4--font-weight: 700;
  --text-headline-5--font-weight: 700;
  --text-headline-6--font-weight: 700;
  --text-body-1--font-weight: 400;
  --text-body-2--font-weight: 400;
  --text-body-3--font-weight: 400;
  --text-body-4--font-weight: 400;

  --text-headline-1--line-height: 3.5rem;
  --text-headline-2--line-height: 2.5rem;
  --text-headline-3--line-height: 2rem;
  --text-headline-4--line-height: 1.75rem;
  --text-headline-5--line-height: 1.5rem;
  --text-headline-6--line-height: 1.25rem;
  --text-body-1--line-height: 1.5rem;
  --text-body-2--line-height: 1.25rem;
  --text-body-3--line-height: 1rem;
  --text-body-4--line-height: 0.875rem;

  --text-headline-1--letter-spacing: -0.02em;
  --text-headline-2--letter-spacing: -0.02em;
  --text-headline-3--letter-spacing: -0.02em;
  --text-headline-4--letter-spacing: -0.02em;
  --text-headline-5--letter-spacing: -0.02em;
  --text-headline-6--letter-spacing: -0.02em;
  --text-body-1--letter-spacing: 0em;
  --text-body-2--letter-spacing: 0em;
  --text-body-3--letter-spacing: 0em;
  --text-body-4--letter-spacing: 0em;

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;

  --shadow-1: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-2: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --shadow-3: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --shadow-4: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --shadow-5: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
